// Plain Colors
$darkblack: #0f0f0f;
$pink: #ef5da8;
$main-gradient: linear-gradient(167.65deg, #34b7f1 16.5%, #2b70f4 92.68%);
$our-blue: #34b7f1;
$header-color: rgba(255, 255, 255, 0.05);
$font-color: white;

// Scrollbar
$scroll-hover-thumb-bg: rgba(255, 255, 255, 0.2);
$scroll-bg: rgba(255, 255, 255, 0.05);
$scroll-thumb-bg: rgba(255, 255, 255, 0.1);

// Screen Sizes
$small-screen: 481px; //tablets
$medium-screen: 769px; //small laptops
$large-screen: 1025px; //large screens, desktops
$huge-screen: 1201px; //tvs and extra large screens
